.btn-orange {
    background-color: #e67e22;
    color: white;
    width: 100%;
    margin-bottom: 15px;
}

.btn-red {
    background-color: #c0392b;
    color: white;
    width: 100%;
}

.btn-red:hover {
    background-color: #a93226;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
}